.layout {
  min-height: 100vh;
  display: grid;
  grid-area: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
}

.navbar {
  background-color: var(--color-primary);
  padding: var(--size-sm) var(--size-md);
}

.footer {
  background-color: var(--color-primary);
  padding: var(--size-lg) var(--size-md);
}
