.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 2em 1fr 2em;
  min-height: 100vh;
}

.App > * {
  grid-column: 2 / 3;
}

.App > header {
  text-align: center;
}
.App > footer {
  text-align: center;
}
